<div>
    <h2>FORMULARIO</h2>
    <form action="/users/html-onwire" method="POST">
        Nombre: <input type="text" name="nombre" id="nombre">
        Apellido: <input type="text" name="apellido" id="apellido">
        DNI: <input type="text" name="dni" id="dni">
        <input type="submit" value="Registrar">
    </form>
    <h2>TABLA DE DATOS</h2>
    {{#if users.length}}
    <table>
        <tr>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
        </tr>
        {{#each users}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.apellido}}</td>
                <td>{{this.dni}}</td>
            </tr>
        {{/each}}
    </table>
    {{else}}
    <h4>No se encontraron usuarios</h4>
    {{/if}}
</div>